services:
  db:
    image: postgres:16
    container_name: magneto-db
    environment:
      POSTGRES_DB: magneto
      POSTGRES_USER: magneto
      POSTGRES_PASSWORD: magneto
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U magneto -d magneto"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build:
      context: ./dna-mutant-detector
      dockerfile: src/main/docker/Dockerfile.jvm
    container_name: dna-mutant-detector
    depends_on:
      db:
        condition: service_healthy
    environment:
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://db:5432/magneto
      QUARKUS_DATASOURCE_USERNAME: magneto
      QUARKUS_DATASOURCE_PASSWORD: magneto
    ports:
      - "8080:8080"
  
  frontend:
    build:
      context: ./dna-mutant-detector-front
      dockerfile: Dockerfile
    container_name: dna-mutant-detector-front
    depends_on:
      backend:
        condition: service_started
    environment:
      NEXT_PUBLIC_API_URL: http://backend:8080
    ports:
     - "3000:3000"

volumes:
  postgres_data:
