services:
  db:
    image: postgres:16
    container_name: magneto-db
    environment:
      POSTGRES_DB: magneto
      POSTGRES_USER: magneto
      POSTGRES_PASSWORD: magneto
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U magneto -d magneto"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build:
      context: ./dna-mutant-detector
      dockerfile: src/main/docker/Dockerfile.jvm
    container_name: dna-mutant-detector
    depends_on:
      db:
        condition: service_healthy
    environment:
      QUARKUS_DATASOURCE_JDBC_URL: jdbc:postgresql://db:5432/magneto
      QUARKUS_DATASOURCE_USERNAME: magneto
      QUARKUS_DATASOURCE_PASSWORD: magneto
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      QUARKUS_REDIS_HOSTS: redis://redis:6379
      QUARKUS_REDIS_DEVSERVICES_ENABLED: false
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/q/health/ready"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
  
  frontend:
    build:
      context: ./dna-mutant-detector-front
      dockerfile: Dockerfile
    container_name: dna-mutant-detector-front
    depends_on:
      backend:
        condition: service_started
    environment:
      NEXT_PUBLIC_API_URL: http://backend:8080
    ports:
     - "3000:3000"

  k6:
    container_name: k6
    image: grafana/k6
    volumes:
      - ./dna-mutant-detector/k6:/dna-mutant-detector/k6
    profiles:
      - loadtest
    depends_on:
      backend:
        condition: service_healthy
      grafana:
        condition: service_started
      prometheus:
        condition: service_started
      tempo:
        condition: service_started
    environment:
      API_URL: http://backend:8080

  prometheus:
    container_name: prometheus
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    restart: unless-stopped

  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    ports:
      - "3001:3000"
    volumes:
      - ./grafana_data:/var/lib/grafana
    restart: unless-stopped

  tempo:
    image: grafana/tempo:2.5.0
    container_name: tempo
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./tempo/tempo.yaml:/etc/tempo.yaml
      - ./tempo/data:/tmp/tempo
    ports:
      - "4317:4317"   # OTLP gRPC
      - "3200:3200"   # Tempo HTTP
    restart: unless-stopped

  zookeeper:
    container_name: zookeeper
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    container_name: kafka
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
  
  kafdrop:
    container_name: kafdrop
    image: obsidiandynamics/kafdrop:latest
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: "kafka:9092"
    depends_on:
      - kafka

  redis:
    image: redis:7.2-alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    command: >
      redis-server
      --appendonly yes
      --appendfsync everysec
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:

