on:
  push:
    branches: [main]

defaults:
      run:
        working-directory: dna-mutant-detector

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Run Tests + JaCoCo
        run: mvn clean verify
      - name: Upload JaCoCo HTML
        uses: actions/upload-artifact@v6
        with:
          name: jacoco-report
          path: target/site/jacoco